* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

.logo {
  filter: invert(1);
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    gap: 18px;
    align-items: center;
    padding: 8px;
}

.push {
    margin-left: auto;
}

a,
.hero-secondary-text,
.hero-button {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.hero-right {
    margin-left: auto;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 8px 0;
}

.hero-button {
    padding: 8px 24px;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    margin: 10px 0;
}

.hero-image {
    border-radius: 12px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.info-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 15px 30px;
    text-align: center;
}

.info-image {
    border: solid 2px #3882F6;
    border-radius: 6px;
}

.description {
    color: #1F2937;
    margin: 4px;
}

p {
    margin: 0;
}

.quote {
    background-color: #E5E7EB;
    padding: 80px;
    margin: 16px 0px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    font-size: 14px;
    color: #1F2937;
    font-weight: 700;
    margin: 16px;
    text-align: right;
}

.signup {
    background-color: #3882F6;
    border-radius: 6px;
    margin: 80px 150px;
    padding: 20px 40px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-signup {
    background-color: #3882F6;
    border: solid 2px #F9FAF8;
    border-radius: 6px;
    color: #F9FAF8;
    padding: 6px 24px;
}

.call {
    font-size: 18px;
    font-weight: 700;
}

.call-description {
    font-size: 14px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #E5E7EB;
    margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
}